EasyDict>=1.7
opencv-python~=4.5.4.60
Cython
scipy~=1.5.4
pandas
pyyaml
json_tricks
scikit-image
yacs>=0.1.5
tensorboardX>=1.6
pycocotools~=2.0
fvcore~=0.1.5.post20211023

numpy~=1.19.2
torchvision~=0.11.1
setuptools~=58.0.4
matplotlib~=3.3.4
config~=0.5.1